{% extends 'admin_base.html' %}

{% block content %}
<br>
<br>
<div style="text-align: center">
    <p style="font-family: 'Microsoft Sans Serif',serif; font-size: 50px;
    font-style: italic; color: #0d8dcb; font-weight: 900">
        Add New Category
    </p>
</div>
<br>
<div class="row justify-content-center">
    <div>
        <h5>
            Expected Amount: ${{ organization.expected_amount }}&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Collected Amount: ${{ organization.collected_amount }}
        </h5>
    </div>
</div>
<br>
<div class="card text-white bg-secondary mb-3 text-center" style="width: 30rem; margin: auto">
    <div class="card-header">New Category</div>
  <div class="card-body">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button style="background-color: #609ab6; color: white" class="btn btn-outline-info" type="submit">
            Add Category
        </button>
    </form>
  </div>
</div>
<br>
<br>
<br>
{% endblock %}

