{% extends "admin_base.html" %}

{% block content %}
<div style="margin: 25px 620px">
    <h1>About</h1>
</div>

<div class="row">

    <div class="col s12 m6">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title" style="font-style: italic; font-family: 'Microsoft Sans Serif',serif">
                    PayNow
                </span>
                <p>
                   PayNow is an online payment system that allows organizations
                   to easily pay their membership dues. It can be used by organizations
                   to handle their monetary needs. It has two different user statuses:
                   administrator and member. The administrator is able to send
                   invoices to the members and budget the expected amount as well as
                   the current amount. The website features visual aids to see how
                   much of the total is going to different needs of the administrator’s
                   choosing and how much each member has paid of the total amount owed.
               </p>
            </div>
        </div>
    </div>

    <div class="col s12 m6">
      <div class="card blue darken-4">
        <div class="card-content white-text">
          <span class="card-title">Who I am</span>
            <p>
                My name is Andrew Nguyen, and I am a student at Christopher Newport University.
                I am majoring in Computer Science, and I am creating this website for my capstone
                project.  I wanted to create this service because many organizations require its
                members to pay dues which my website streamlines for them and keeps the members
                informed about the organization's funds.
            </p>
        </div>
      </div>
    </div>

</div>

{% endblock %}
