{% extends 'admin_base.html' %}

{% block content %}
<div style="margin: 25px 625px; width: 100%">
    <p style="font-family: 'Microsoft Sans Serif',serif; font-size: 50px;
    font-style: italic; color: #0d8dcb; font-weight: 900">
        Budget
    </p>
</div>
<div class="row justify-content-center">
    <div>
        <h5>Expected Amount: ${{ organization.expected_amount }}</h5>
        <h5>Collected Amount: ${{ organization.collected_amount }}</h5>
        <a href="{% url 'create_budget' %}" class="btn btn-primary">Create Budget</a>
        <a href="{% url 'budget_list' %}" class="btn btn-secondary">Budgets</a>
    </div>
    <br>
    <br>
    <div id="container" style="width: 75%">
        <canvas id="pie-chart"></canvas>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
      <script>
        var config = {
          type: 'pie',
          data: {
            datasets: [{
              data: [{{ expected_collected_amount }}, {{ organization.collected_amount }}],
              backgroundColor: [
                '#ff0000', '#228B22'
              ],
              label: 'Amount'
            }],
            labels: ['Expected Amount', 'Collected Amount']
          },
          options: {
            responsive: true
          }
        };

        window.onload = function() {
          var ctx = document.getElementById('pie-chart').getContext('2d');
          window.myPie = new Chart(ctx, config);
        };
      </script>
</div>
<br>
<br>
<br>
{% endblock %}

