{% extends 'admin_base.html' %}

{% block content %}
<div style="margin: 25px 625px; width: 100%">
    <p style="font-family: 'Microsoft Sans Serif',serif; font-size: 50px;
    font-style: italic; color: #0d8dcb; font-weight: 900">
        Budget
    </p>
</div>
<div style="text-align: center">
    <h5>Expected Amount: ${{ organization.expected_amount }}</h5>
    <h5>Collected Amount: ${{ organization.collected_amount }}</h5>
</div>
<br>
<br>
<div id="container" style="width: 75%;">
    <canvas id="pie-chart"></canvas>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script>
    var config = {
      type: 'pie',
      data: {
        datasets: [{
          data: [{{ organization.expected_amount }}, {{ organization.collected_amount }}],
          backgroundColor: [
            '#ff0000', '#228B22'
          ],
          label: 'Amount'
        }],
        labels: ['Expected Amount', 'Collected Amount']
      },
      options: {
        responsive: true
      }
    };

    window.onload = function() {
      var ctx = document.getElementById('pie-chart').getContext('2d');
      window.myPie = new Chart(ctx, config);
    };
  </script>
<br>
<br>
<br>
{% endblock %}

