{% extends 'admin_base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<br>
<br>
<div style="text-align: center">
    <p style="font-family: 'Microsoft Sans Serif',serif; font-size: 50px;
    font-style: italic; color: #0d8dcb; font-weight: 900">
        Add New Budget Category
    </p>
</div>
<br>
<div class="row justify-content-center">
    <div>
        <h5>
            Expected Amount: ${{ organization.expected_amount }}&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Collected Amount: ${{ organization.collected_amount }}
        </h5>
    </div>
</div>
<div style="max-width: 950px; margin: 0 auto">
    <form method="post">
        {% csrf_token %}
        {{ form | crispy }}
        <button style="background-color:#F4EB16; color:blue" class="btn btn-outline-info" type="submit">Apply</button>
    </form>
</div>

{% endblock %}

