{% extends 'admin_base.html' %}

{% block content %}
<br>
<br>
<div style="text-align: center">
    <p style="font-family: 'Microsoft Sans Serif',serif; font-size: 50px;
    font-style: italic; color: #0d8dcb; font-weight: 900">
        Edit Budget
    </p>
</div>
<br>
<div class="row justify-content-center">
    <div>
        <h5>
            Expected Amount: ${{ organization.expected_amount }}&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Collected Amount: ${{ organization.collected_amount }}
        </h5>
    </div>
</div>
<br>
<br>
<br>
<div class="row justify-content-center">
    <a class="btn btn-success">+Add Category</a>
</div>
<br>
<br>
<br>
{% endblock %}

