{% extends "member_base.html" %}

{% block content %}
<div style="margin: 25px 620px">
    <h1>About</h1>
</div>

<div class="card-group justify-content-center" style="text-align: center;">
    <div class="card text-white bg-success mb-3" style="max-width: 35rem;">
        <div class="card-header">
            <h2>PayNow</h2>
        </div>
        <div class="card-body">
            <p class="card-text">
                PayNow is an online payment system that allows organizations
                to easily pay their membership dues. It can be used by organizations
                to handle their monetary needs. It has two different user statuses:
                administrator and member. The administrator is able to send
                invoices to the members and budget the expected amount as well as
                the current amount. The website features visual aids to see how
                much of the total is going to different needs of the administrator’s
                choosing and how much each member has paid of the total amount owed.
            </p>
        </div>
    </div>

    <div class="card text-white bg-info mb-3" style="max-width: 35rem;">
        <div class="card-header">
            <h2>Who I Am</h2>
        </div>
        <div class="card-body">
            <p class="card-text">
                My name is Andrew Nguyen, and I am a student at Christopher Newport University.
                I am majoring in Computer Science, and I am creating this website for my capstone
                project.  I wanted to create this service because many organizations require its
                members to pay dues which my website streamlines for them and keeps the members
                informed about the organization's funds.
            </p>
        </div>
    </div>

</div>

{% endblock %}
