{% extends 'member_base.html' %}
{% block content %}
<div style="margin: 25px 625px; width: 100%">
    <p style="font-family: 'Microsoft Sans Serif',serif; font-size: 50px;
    font-style: italic; color: #0d8dcb; font-weight: 900">
        Payment
    </p>
</div>
<div class="card text-white bg-secondary mb-3 text-center" style="width: 18rem; margin: auto">
    <div class="card-header">Amount Owed</div>
  <div class="card-body">
    <h6 class="card-title">Total Outstanding Balance</h6>
    <p class="card-text">$ {{ amount }}</p>
    <a href="../make_payment/" class="btn btn-primary">$ Make a Payment</a>
  </div>
</div>
<br>
<br>
<br>
{% endblock %}
